.list {
  backdrop-filter: blur(15px);
  width: 100%;
  list-style: none;
  padding: none;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
}

.link {
  transition: color 0.3s;
}

.link:hover {
  color: #da1cc1;
}
